<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb 3">Comments (12,678)</h4>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Michelle</h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2019 </small>
      <div class="mt-3 mb-3">
        m is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised in the 1960s with the release of Letraset sheets c
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ms-3">View Reply</a>
    </div>
    <hr />
    <div class="comment-box mt-3">
      <h6 class="mb-0">Andrew</h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2019 </small>
      <div class="mt-3 mb-3">
        m is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised in the 1960s with the release of Letraset sheets c
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ms-3">View Reply</a>
    </div>
    <hr />
    <div class="comment-box mt-3">
      <h6 class="mb-0">John</h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2019 </small>
      <div class="mt-3 mb-3">
        m is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised in the 1960s with the release of Letraset sheets c
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ms-3">View Reply</a>
    </div>
    <hr />
  </div>
</div>
